.speedDial {
  position: fixed;
  right: 3vmax;
  top: 5vmax;
}

.speedDialIcon {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
a {
  text-decoration: none;
  color: #000000;
}
.container--header.fixed {
  position: fixed !important;
  transition: 1s ease-in;
}
.container--header {
  position: relative;
  background-color: #dfe1e5;
  top: 0px;
  /* left: 50px; */
  width: 100%;
  height: 8vmin;
  z-index: 999999;
  /* border-radius: 20px; */
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-around;
  /* box-shadow: inset 0 5px 5px #ced0df, 0 -5px 10px #eff1f0, 0 10px 15px #cdd4de; */
  box-shadow: inset 0px 2px 2px #ced0df, 0px 2px 2px #eff1f0,
    1px 0px 12px #cdd4de;
}
.logo__nav > img {
  width: 10vmax;
  height: 36px;
  align-items: center;
  display: flex;
}
.container__nav {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.container__nav > a {
  font-weight: 520;
  text-decoration: none;
  color: black;
  padding: 8px 6px;
  border-radius: 5px;
}
.container__nav a.is-active,
.container__nav a:hover {
  background-color: #636871;
}
.is-active {
  background-color: #636871;
}
.container__nav > a:hover {
  background-color: #636871;
}
.home__nav {
  color: black;
}
.form__nav {
  display: flex;
}
.search__nav {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.submmitButton__nav {
  margin-left: 8px;
  border: none;
  border-radius: 8px;
  /* background-color: #bbc2cd; */
  box-shadow: inset 0 5px 5px #ced0df, 0 -5px 10px #eff1f0, 0 10px 15px #cdd4de;
}
.user__nav {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.shopping__nav {
  color: black;
  display: flex;
  align-items: center;
  margin-right: 10px;
  position: relative;
}
.seacrch__input {
  display: flex;
  justify-content: space-between;
  height: 26px;

  align-items: center;
  width: 30vmax;
  border-radius: 30px;
  box-shadow: inset 0 5px 5px #ced0df, 0 -5px 10px #eff1f0, 0 10px 15px #cdd4de;
  transition: 1s;
}
.seacrch__input > input {
  outline: none;
  border: none;
  margin-left: 8px;
  background-color: #eff1f01a;
  color: #4743431a;
  font-style: italic;
}
.searchIcon {
  margin-left: 5px;
}
.boxIcon {
  color: black;
}
.cartIcon {
  color: black;
}

.mobile--list {
  display: none;
}
.mobile-menu-icon {
  display: none;
}
.number--on__iconcart {
  position: absolute;
  top: -6px;
  right: -7px;
  color: #ffffffff;
  z-index: 999999999;
  font-weight: 500;
}
.number--on__iconcart::after {
  content: "";
  position: absolute;
  padding: 9px;
  background-color: #ff000099;
  border-radius: 50px;
  right: -5px;
  z-index: -1;
}
@media screen and (max-width: 780px) {
  .mobile-menu-icon {
    display: block;
  }
  .container--header {
    display: flex;
    justify-content: space-between;
  }
  .logo__nav {
    display: flex;
  }
  .container__nav {
    display: none;
  }
  .search__nav {
    display: none;
  }
  .user__nav {
  }
  .shopping__nav {
  }

  .nav--mobile--list {
    position: absolute;
    display: flex;
    list-style: none;
    background-color: #ced0df;
    left: 0;
    top: 38px;
    transition: all 0.5s ease-in-out;
    width: 100%;
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
    line-height: 35px;
    z-index: 99999;
  }
  .mobile--list {
    display: flex;
    justify-content: end;
    right: 2px;
  }

  .dropdown__trigger-2,
  .dropdown__trigger {
    display: none;
  }
  .home--brand__images {
    height: 18px;
    width: 20px;
    object-fit: cover;
    padding: 2px 18px;
    border-radius: 5px;
    margin: 20px 2px;
    background-color: #dfe1e5;
  }
  .list img {
    width: 122% !important;
  }
  .brand--logo__img > ul {
    padding: 0px;
  }
  .content .item {
    display: none;
  }
  .next {
    top: 55%;
  }
  .container {
    top: 33%;
    height: 200px;
  }
  .banner {
    height: 95vmin;
  }
}
